html {
	height: 100%;
	background-color: #4cce78;
}

body {
	margin: auto;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.line {
	color: #0b9138;
}

.header {
	margin-left: 5%;
	color: #0b9138;
	font-weight: bold;
}

.sub_assess {
	margin-left: 5%;
}

.other_assess {
	width: 56.5%;
}

#title {
	color: #0b9138;
	text-align: center;
	font-weight: bold;
}

#sub {
	text-align: center;
}

#dispatch, #subjective, #objective, #assess, #plan {
	margin-left: 10%;
}

#dispatch_text, #states_text, #admits_text, #other_assess, #assessment_text, #other_assess_text, #air_adv_result_text, #oett_result_text, #suction_text, #drug_text, #orders_text, #ekg_text, #bandage_text, #splint_text, #extric_text, #spinal_text, #stretcher_text, #refusal_text {
	width: 90%;
	height: 5%;
}

#age_in, #weight_in, #cap_refill_in {
	width: 10%;
}

#complaint_in, #moi_in, #circulation_in {
	width: 50%;
}

#onset_in, #provokes_in, #quality_in, #radiates_in, #severity_in, #time_in, #export_in, #env_in, #prop_in {
	width: 43.55%;
}

#similar_in, #arrival_notes_in {
	width: 90%;
}

#other_in {
	width:20%;
}

#medical_text, #medication_text, #impression_text {
	width: 90%;
	height: 2%;
}

#vitals_button {
	width: 21.5%;
}

#plan_refusal {
	display: inline;
}

#plan_o2, #plan_iv, #plan_blood, #plan_cpr, #plan_capno, #plan_air_adv, #plan_air_oett, #plan_air_cric, #plan_suction, #plan_drug, #plan_orders, #plan_ekg, #plan_bandage, #plan_splint, #plan_extric, #plan_spinal, #plan_stretcher {
	display: none;
}
